.header-text {
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  background-color: blue;
  width: 200px;
  height: 200px;
}

.bottom-bar div {
  position: absolute;
  right: 0;
  background-color: red;
}
